
/*  Favorite Banner  */
.favorite_banner_container{
    background: url("../img/favorite_banner_bg2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  
  
  

  
  .favorite_banner_button{
    border: 2px solid white;
    border-radius: 10%;
    margin-top: 10px;
    margin-left: 13px;
    height: 40px;
    width: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
  }
  
  .favorite_banner_button:hover{
    cursor: pointer;
  }
  
  .favorite_banner_url{
    text-decoration: none;
    color: white;
  }