/* Navigation Bar */
ul{
    list-style: none;
  }
  /* .navigation_container{
    height: 125px;
    position: relative;
  } */
  .navigation_container_main{
    background-color: #f6f5ef;
    height: 125px;
    display: flex;
    justify-content: center;
  }
  .navigation_container_inner{
    height: 100%;
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .navigation_logo{
    top: 10%;
    position: absolute;
  }
  .navigation_logo_img{
    background: url("../img/logo_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    position: absolute;
  }
  .navigation_logo_img:hover{
    cursor: pointer;
  }
  .navigation_inner{
    height: 100%;
    right: 1%;
    position: absolute;
  }
  .navigation_items{
    display: flex;
  }
  .navigation_division{
    border-right: #e5e5e5 solid 1px;
    border-left: #e5e5e5 solid 1px;
  }
  .navigation_top{
    display: flex;
    margin-right: 100px;
    justify-content: flex-end;
  }
  
  .navigation_link_top{
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font: normal 13px Avenir, Arial, georgia;
    color: #555;;
  }
  .navigation_link_top:hover{
    text-decoration: underline;
  }
  .navigation_search{
    background: url("../img/search_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    top: 12%;
    position: absolute;
  }
  .navigation_search:hover{
    cursor: pointer;
  }
  .navigation_bottom{
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .navigation_link_bottom{
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    font: normal 13px Avenir, Arial, georgia;
    color: #333;
  }
  .sub_menu ul li:hover{
    text-decoration: underline;
  }
  .navigation_bottom ul li{
    height: 56px;
  }
  .sub_navigation{
    width: 100%;
    background: #2c2a29;
    z-index: 999;
    display: flex;
    justify-content: center;
    position: absolute;
    }
    .sub_menu{
        width: 1000px;
        display: none;
    }
    .sub_menu ul li a{
        text-decoration-line: none;
        height: 30px;
        color: gray;
    }
    .sub_menu ul li:nth-child(1){
        margin-bottom: 5px;
        font-weight: bold;
        color: white;
    }
    .sub_menu ul li:hover{
      cursor: pointer;
    }
  
  /*  Mobile Navigation  */
  .mobile_navigation_container_main{
    width: 100%;
    height: 100%;
    background: #f6f5ef;
    display: flex;
    justify-content: space-between;
  }
  .mobile_navigation_container_main_left{
    position: relative;
  }
  .mobile_navigation_container_main_right{
    width: 210px;
    position: relative;
  }
  .mobile_navigation_container_main_right ul li:hover{
    cursor: pointer;
  }
  .mobile_navigation_img1{
    background: url("../img/mobile_img1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 38px;
    position: absolute;
  }
  .mobile_navigation_img2{
    background: url("../img/mobile_img2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 60px;
    height: 40px;
    width: 38px;
    position: absolute;
  }
  .mobile_navigation_img3{
    background: url("../img/mobile_img3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 120px;
    height: 38px;
    width: 38px;
    position: absolute;
  }
  .mobile_navigation_logo_img{
    background: url("../img/logo_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-left: 5px;
    height: 60px;
    width: 60px;
    position: absolute;
  }