/*  Top Banner  */
.top_banner_container {
    background: url("../img/top_banner_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .top_banner_img{
    background: url("../img/top_banner_img1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
  }
  
  .top_banner_detail_button{
    border: 2px solid white;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  .top_banner_cosmetics1{
    background: url("../img/cosmetics1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
  }
  
  .top_banner_cosmetics2{
    background: url("../img/cosmetics2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
  }
  
  .top_banner_cosmetics3{
    background: url("../img/cosmetics3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
  }
  
  .top_banner_detail_button:hover{
    cursor: pointer;
  }
  
  .top_banner_detail_url{
    color: white;
  }