{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/navigation.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/container.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/top_banner_container.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/notice_line_container.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/main_banner_container.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/favorite_banner_container.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/sign_in_up.css' %}" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
<!-- 네비게이션바 -->
{% include "navigation_bar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- 하단 footer 바 -->
{% include "footer_bar.html" %}
<!-- 박성현 제작 -->
</body>
</html>